

<div id="main" class="container-fluid">
    <div class = "row mr-2">
        <div class="col-10 mr-2">
            <div #mapWrapper id="map"></div>
        </div>
        <div class="col mr-2">
            <div *ngIf="stationData">
                <div  id = "city" class="row my-2">
                    <h2>{{stationData.city}}</h2>
                </div>
            </div>
            
            <div *ngIf="stationData">
                <div id="streetAddress" class="row my-2">
                    <h3>{{stationData.streetAddress}}</h3>
                </div>
            </div>
            
            <div *ngIf="stationData">
                <div id="index" class="row my-2">
                    <h5>{{stationData.indexName}}</h5>
                </div>
            </div>
            
            <div *ngFor="let p of stationPollutionData">
                <div id="parameters" class="row my-2">
                    {{p.parameter.parameterName}} 
                </div>
                <div class="row my-2">
                    <mat-progress-bar class="mat-progress-bar" mode="determinate" value="{{p.percentValue}}" color="red"></mat-progress-bar>
                    <br>
                    {{p.percentValue}}%
                </div>
            </div>
        </div>
    </div>
</div>
